body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体";
    padding-top: 78px;
}

ul {
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none !important;
}
/*左侧样式*/
.site-left {
    background-color: rgba(51, 54, 69, 0.85);
    width: 40px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    text-align: center;
    position: fixed;
    z-index: 400;
}
.site-right {
    min-width: 1050px;
    margin-left: 40px;
    padding-bottom: 30px;
    background-color: rgba(230, 230, 230, 0.4);
}
/*父类宽度定义100%*/
.box {
    position: relative;
    width: 100%;
}
.box-left {
    margin-left: 30px;
    margin-right: 290px;
    min-width: 730px !important;
}
.box-right {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 240px;
}
/*头部样式*/
.site-header {
    min-width: 850px !important;
    background-color: white;
    left: 40px;
    right: 0px;
    top: 0px;
    position: fixed;
    z-index: 500;
}
.site-topbar {

    height: 42px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.69);
    line-height: 42px;
    font-size: 16px;
}

.site-nav {
    height: 36px;
    line-height: 36px;
    position: relative;
}

/*中间内容样式*/


.site-title {
    height: 45px;
    line-height: 45px;
    color: white;
    background-color: rgba(51, 54, 69, 0.86);
}

.site-task {
    padding: 15px 0px;
    box-shadow: 1px 0px 2px rgba(238, 238, 238, 0.25);
}

.site-task ul li {
    margin-top: 18px;
}
.site-task ul li a{
	color:#fff;
	display:block;
}
.site-left a {
    color: #DDDEE0;
    font-size: 16px;
}

.plus {
    margin-top: 20px;
}

/*头部样式*/
.client-right {
    display: inline-block;
}

.client-right i {
    margin: 0px 18px;
}

.header-client ul {
    margin: 0px 20px;
}

.header-client ul li {
    float: left;
    margin-left: 20px;
}

.header-client input {
    outline: none;
    border: none;
}

.header-nav li a img {
    height: 25px;
    width: 25px;
}

.header-nav li a {
    font-size: 14px;
    color: #333;
    /*text-decoration: none;*/
}

.header-nav .crosswall span {
    display: inline-block;
    height: 26px;
    margin-top: 8px;
    border-left: 2px solid rgba(192, 192, 192, 0.24);
}

.client-handle {
    margin: 0px 60px;
}

.client-handle ul {
    margin-bottom: 0px;
}

.client-handle ul li {
    float: left;
    margin-right: 10px;
}

.client-handle span {
    position: absolute;
    right: 20px;
}

.client-handle span a {
    color: #333;
}

.client-item {
    padding-top: 8px;
}

.client-table-thead {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.client-table-first {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #333645;
    color: white;
}

.client-table {
    background-color: white;
    height: 60px;
    width: 100%;
    line-height: 60px;
}

.client-item img {
    height: 40px;
    width: 40px;
}

.client-infos .info-main, .client-infos .info-nav {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: rgba(245, 245, 245, 0.75)
}

.client-table .info-main, .client-table .info-nav {
    font-size: 12px;
    color: #666;
}

td {
    text-align: center;
}

.star {
    font-size: 14px;
    color: #4cae4c;
}

.fa-diamond, .fa-phone, .fa-envelope {
    color: #5bc0de;
    font-size: 14px;
}

.title {
    margin-left: 10px;
}

.title div {
    text-align: left !important;
}
.client-name{
    font-size: 14px;
    font-weight: bold;
}
.client-table-first .client-name {
    color: white;
}

.client-table .client-name {
    color: #222;
}

.avatar input {
    margin: 0px 10px !important;
}
.date-topbar{
    width: 220px;
    margin: 10px 10px 20px 10px;
    background-color: white;
}
.date-title {
    height: 40px;
    line-height: 40px;
    background-color: rgba(51, 54, 69, 0.11);
}
.date-title a{
    font-size: 14px;
    margin-left: 10px;
}
.date-title .first-event{
    color: #333;
    font-weight: bold;
}
.date-title .second-event{
    color: #888;
    font-size: 12px;
}
.date-title i{
    color: #333;
    margin-right: 20px;
    margin-top: 13px;
}
.date{
    background-color: white;
    text-align: center;
    padding: 0px 10px;
    font-size: 12px;
}

.contact-message img{
    width: 35px;
    height: 35px;
}
.contact-item{
    height: 45px;
    line-height: 45px;
    margin-top: 5px;

}
.contact-item span{
    margin-left: 10px;
}
.contact-item .contact-tel{
    margin-left: 18px;
    color: #666;
    font-size: 12px;
}
.contact-item .contact-name{
    color: #333;
    font-weight: bold;
}
.contact-more{
    text-align: center;
    padding: 10px 0px;
}
.pact-doc{
    display:table-cell;
    width: 110px;
    text-align: center;
    position: relative;
}
.pact-img1,.pact-img2{
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 20px auto;
}
.pact-img1,.pact-img2{
    background-color: #5cb85c;
}
.pact-img2{
    background-color: #31b0d5;
}
.pact-doc i,.pact-pdf i{
    font-size: 30px;
    color: white;
}
.pact-doc p{
    color: #999;
    font-size: 12px;
}
