* {
  padding: 0;
  margin: 0;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 1000px;
}

body {
  background-color: #F5F5F5;
  font-size: #fontSize;
  color: #333;
  font: 14px / 1.5 Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun, Heiti, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: normal;
}

input,
select,
textarea {
  outline: none;
  border: none;
}

img {
  border: none;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.moreLine {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none;
}

.header {
  height: 46px;
  line-height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #18b4ed;
  z-index: 100;
}

.header .header-menu {
  background-color: #3B4857;
  height: 46px;
  line-height: 46px;
  width: 64px;
}

.header .header-log {
  margin-left: 14px;
}

.header .header-log img {
  width: 160px;
  height: 16px;
}

.header .mainmenu {
  display: block;
  height: 18px;
  width: 28px;
  background-position: -160px -140px;
  margin-top: 14px;
  margin-left: 20px;
}

.header ul li {
  float: left;
}

.header ul li a {
  display: inline-block;
  padding: 0 20px;
  height: 46px;
  color: #f2f2f2;
}

.header ul li a:hover {
  color: #fff;
}

.header ul li a .avater {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 1px;
  vertical-align: middle;
  border: solid 2px #fff;
  margin-right: 5px;
}

.header ul li .double-icon {
  background: url("../img/double11.png") no-repeat;
  width: 34px;
  height: 34px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.icon {
  background: url("../img/background.png") no-repeat;
  vertical-align: middle;
}

.lefeSider {
  position: fixed;
  z-index: 100;
  top: 46px;
  left: 0;
  background: #393d48;
  height: 100%;
  width: 64px;
}

.lefeSider li {
  padding: 20px 0;
  box-sizing: border-box;
}

.lefeSider .menu-active {
  border-left: 2px solid #469cd2;
  background-color: #2f323b;
}

.lefeSider .menu-active a {
  color: #fff;
}

.lefeSider a {
  display: block;
  color: #a2bdcd;
  font-size: 14px;
  text-align: center;
}

.lefeSider a:hover {
  color: #fff;
}

.lefeSider a:hover .homeIcon {
  background-position: -413px -348px;
}

.lefeSider a:hover .personIcon {
  background-position: -261px -308px;
}

.lefeSider a:hover .followIcon {
  background-position: -413px -264px;
}

.lefeSider a:hover .remindIcon {
  background-position: -413px 0;
}

.lefeSider a:hover .infoIcon {
  background-position: -413px -176px;
}

.lefeSider a:hover .analysisIcon {
  background-position: -360px -155px;
}

.lefeSider a .icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-left: 20px;
}

.lefeSider a span {
  line-height: 24px;
  width: 32px;
  display: inline-block;
}

.lefeSider .homeIcon {
  background-position: -413px -306px;
}

.lefeSider .personIcon {
  background-position: -93px -308px;
}

.lefeSider .followIcon {
  background-position: -49px -308px;
}

.lefeSider .remindIcon {
  background-position: -413px -44px;
}

.lefeSider .infoIcon {
  background-position: -413px -132px;
}

.lefeSider .analysisIcon {
  background-position: -360px -202px;
}

.appBox {
  position: relative;
  height: 100%;
  margin-left: 30px;
  padding: 46px;
}

.appBox .box-container {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.appBox .mainTit {
  line-height: 55px;
  height: 55px;
  font-size: 20px;
  color: #344d6d;
}

.appBox .mainTit span {
  font-size: 14px;
  margin-left: 14px;
}

.char-content {
  background: #fffffa;
}

.char-content .listCont {
  padding: 20px 0;
}

.char-content .listCont:hover .label-count {
  color: #18B4ED;
}

.chart-item {
  height: 20px;
  line-height: 20px;
  color: #344d6d;
  padding-bottom: 25px;
}

.chart-item .label-con {
  margin: 0 20px;
  border-radius: 3px;
}

.chart-item .label-con:hover {
  background-color: #f5f5f5;
}

.chart-item .label-con .label-count {
  cursor: pointer;
  width: 97px;
}

.chart-item .label-con span {
  display: inline-block;
}

.chart-item .label-name {
  width: 130px;
  padding-left: 40px;
}

.chart-item .chart-progress {
  width: 620px;
  border-left: solid 1px #cadae3;
  padding-bottom: 25px;
}

.chart-item .pro-bar {
  height: 20px;
  line-height: 20px;
  background: #dceef0;
}

.chart-item #pb0 {
  padding-bottom: 0 !important;
}

.chart-item:last-child {
  padding-bottom: 0;
}

.clientList .client-item {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-left: solid #72c4f7;
  border-width: 4px;
  position: relative;
}

.clientList .client-item:hover .clearIcon {
  display: block;
}

.clientList .client-item .customerTag {
  position: absolute;
  display: block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  right: 0;
  top: 0;
  font-size: 14px;
  background: url("../img/tagBg.png");
}

.clientList .client-item .clearIcon {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  right: 8px;
  cursor: pointer;
  top: 50px;
  background-position: -300px -116px;
}

.clientList .client-item .clearIcon:hover {
  background-position: -300px -58px;
}

.clientList .cLeft {
  width: 80px;
  text-align: center;
  margin-right: 10px;
}

.clientList .cLeft img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 1px solid #dfdfdf;
  padding: 2px;
}

.clientList .cRight {
  position: relative;
  width: 85%;
}

.clientList .cRight .pay-time {
  font-size: 12px;
  color: #999;
}

.clientList .cRight .pay-time span {
  margin-left: 2px;
}

.clientList .cRight .clinet-name {
  margin: 8px 0;
}

.clientList .cRight .clinet-name a {
  display: inline-block;
  line-height: 18px;
  font-size: 18px;
  color: #444;
}

.clientList .cRight .clinet-name .c-heart {
  height: 18px;
  vertical-align: middle;
  width: 30px;
  margin-left: 20px;
  background-position: -256px -140px;
}

.clientList .cRight .note-content {
  margin-top: 10px;
}

.clientList .cRight .note-content span {
  line-height: 20px;
  color: #666;
  display: inline-block !important;
  vertical-align: middle;
}

.clientList .cRight .upload-pic span {
  display: inline-block;
  width: 52px;
  height: 52px;
  background: #f5f5f5;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 2px;
  margin-right: 10px;
}

.clientList .cRight .upload-pic img {
  width: 52px;
  height: 52px;
}

.clientList .cRight .comment {
  color: #999;
  cursor: pointer;
}

.clientList .cRight .comment:hover {
  color: #18B4ED;
}

.clientList .cRight .comment:hover .commentIcon {
  background-position: -312px -399px;
}

.clientList .cRight .commentIcon {
  background-position: -272px -399px;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}

.clientList .cRight .commment-area {
  position: relative;
  margin-top: 10px;
}

.clientList .cRight .commment-area textarea {
  background: #fff;
  width: 100%;
  border: 1px solid #dfdfe1;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  color: #666;
}

.clientList .cRight .comm-btn {
  margin-top: 10px;
}

.clientList .cRight .comm-btn span {
  display: inline-block;
  height: 30px;
  padding: 0 12px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  margin-right: 5px;
  color: #444;
  cursor: pointer;
}

.clientList .cRight .comm-btn .canclebtn {
  background-color: #F6F6F6;
  border: 1px solid #E1E1E1;
}

.clientList .cRight .comm-btn .savebtn {
  background-color: #58D943;
  color: #fff;
}

.reply {
  margin-top: 10px;
}

.reply li {
  padding: 5px 12px;
  border-top: 1px solid #ddd;
  position: relative;
}

.reply li:last-child {
  border-bottom: 1px solid #ddd;
}

.reply .reply-item a {
  margin-right: 10px;
}

.reply .reply-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reply .reply-item .reply-msg {
  color: #888;
  margin-left: 10px;
  font-size: 12px;
}

.reply .reply-item .reply-p-t {
  margin-bottom: 5px;
}

.reply .reply-item .reply-p-t span {
  margin-right: 10px;
}

.reply .reply-item .reply-content {
  color: #666;
  font-size: 14px;
}

.reply .reply-item .click-reply {
  color: #FF887C;
  position: absolute;
  bottom: 5px;
  right: 20px;
}

textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #999 !important;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: inherit;
}

.box-container .chart-empty {
  background: url("../img/noneBg1.png") no-repeat 0 0;
  height: 329px;
  width: 1000px;
  position: relative;
}

.box-container .chart-empty .add-client {
  position: absolute;
  width: 82px;
  padding: 0 5px;
  height: 30px;
  right: 25px;
  top: 185px;
  cursor: pointer;
}

.box-container .list-empty {
  background: url("../img/noneBg2.png") no-repeat 0 0;
  height: 324px;
  width: 1000px;
  position: relative;
}

.box-container .list-empty .care-client {
  position: absolute;
  width: 82px;
  padding: 0 5px;
  height: 30px;
  right: 320px;
  top: 118px;
  cursor: pointer;
}

.client-page .navbar {
  height: 55px;
  line-height: 55px;
  color: #666;
}

.client-page .navbar .sep {
  padding: 0 10px;
}

.client-page .navbar .top-tool span {
  display: inline-block;
  line-height: 18px;
  padding: 4px 10px;
  width: 30px;
  text-align: center;
  border-radius: 3px;
  margin: 0 20px;
  cursor: pointer;
}

.client-page .navbar .top-tool span:hover {
  background-color: #009A23;
  color: #fff;
}

.client-page .cilent-null {
  margin-top: 15px;
  width: 1000px;
  height: 230px;
  position: relative;
  background: url("../img/blanklist.png") no-repeat 0 0;
}

.client-page .cilent-null .download-mobile {
  position: absolute;
  height: 30px;
  line-height: 30px;
  right: 400px;
  top: 194px;
  padding: 2px 4px;
}

.client-page .cilent-null .download-mobile a {
  font-size: 16px;
  color: #0ca9ed;
  text-decoration: underline;
}

.client-page .cilent-null .download-mobile a:hover {
  color: #0064ff;
}

.search {
  margin-right: 40px;
  width: 250px;
  height: 30px;
  padding: 0 5px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 10px;
  position: relative;
  background-color: #fff;
}

.search .searchIcon {
  background: url("../img/search.png") no-repeat right 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 6px;
  cursor: pointer;
}

.search .searchIcon:hover {
  background: url("../img/search_hover.png") no-repeat right 50%;
}

input {
  width: 220px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: #666;
  vertical-align: middle;
  font-family: inherit;
}

.have-client {
  position: relative;
  width: 100%;
}

.have-client .table-header {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background-color: #5acffa;
  font-size: 14px;
  color: #fff;
}

.have-client .table-header tr th:nth-child(2) {
  text-align: left;
}

.have-client .table-header tr th:last-child {
  text-align: left;
}

.have-client .client-item {
  height: 60px;
  line-height: 60px;
  padding: 5px 10px;
  position: relative;
  background-color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 5px;
}

.have-client .client-item .add-record {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #f5f5f5;
  padding: 4px 8px;
  border-radius: 2px;
  line-height: 20px;
  height: 20px;
  cursor: pointer;
  color: #666;
}

.have-client .client-item .client-table {
  width: 100%;
}

.have-client .client-item tr td:nth-child(2) {
  text-align: left;
}

.have-client .client-item tr td:last-child {
  text-align: left;
}

.have-client .table-heart {
  background-position: -255px -140px;
  width: 24px;
  height: 20px;
  margin-left: 13px;
  text-align: center;
  cursor: pointer;
}

.have-client .client-infos .client-name {
  font-size: 16px;
}

.have-client .client-infos div {
  height: 30px;
  line-height: 30px;
  color: #666;
}

.client-page {
  position: relative;
}

.client-page .filter-header {
  height: 36px;
  box-sizing: border-box;
  line-height: 36px;
  padding: 0 25px;
  width: 100%;
  background-color: #dddfff;
  color: #333;
}

.client-page .filter-header .filter-left div {
  display: inline-block;
}

.client-page .filter-header .clearbtn {
  background-position: -458px -354px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: 5px;
  cursor: pointer;
}

.client-page .filter-header .select-box {
  display: inline-block;
  line-height: 22px;
  height: 22px;
  vertical-align: middle;
  padding: 0 4px;
  margin-left: 20px;
  border: 1px solid #4BB43A;
  border-radius: 3px;
}

.client-page .filter-header .collect {
  margin-right: 20px;
}

.client-page .filter {
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px 25px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.client-page .filter .fliter-setting {
  width: 100%;
  height: 24px;
  line-height: 24px;
}

.client-page .filter .fliter-setting a {
  color: #666;
  width: 100px;
  text-align: center;
  border-radius: 3px;
}

.client-page .filter .fliter-setting a:hover {
  background-color: #58B42A;
  color: #fff;
}

.client-page .filter .fliter-setting a:hover .settingIcon {
  background-position: 0px -442px;
}

.client-page .filter .fliter-setting .settingIcon {
  background-position: -36px -442px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.client-page .filter-list {
  background-color: #fff;
}

.client-page .filter-item {
  height: 30px;
  line-height: 30px;
  padding: 8px 0;
}

.client-page .filter-item .category {
  color: #999;
}

.client-page .c-condition {
  margin-left: 10px;
}

.client-page .c-condition li {
  float: left;
}

.client-page .c-condition li {
  padding: 0 5px;
  margin: 0 12px;
  display: inline-block;
  color: #666;
  cursor: pointer;
}

.client-page .c-condition li:hover {
  color: #18B4ED;
}

.followpage .listHeader {
  background-color: #fff;
  position: relative;
  height: 70px;
  line-height: 70px;
  background: #fdfdfd;
  padding-left: 20px;
  margin-bottom: 12px;
}

.followpage .listHeader .search {
  margin-top: 19px;
}

.followpage .listHeader .new-record {
  padding: 0 20px 0 10px;
  color: #666;
}

.followpage .listHeader .new-record:hover {
  background-color: #40B782;
  color: #fff;
}

.followpage .listHeader .addIcon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  display: inline-block;
  background-position: -458px -52px;
}

.followpage .listHeader .selectbox {
  position: relative;
}

.followpage .listHeader select {
  background-color: #f5f5f5;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 3px;
  color: #666;
  font-family: inherit;
}

.followpage .listHeader .selectIcon {
  position: absolute;
  top: 25px;
  right: 0;
  background-position: -108px -442px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.followpage .follow-client {
  margin-top: 10px;
}

.remindPage .this-header {
  line-height: 55px;
  height: 55px;
  font-size: 20px;
  color: #344d6d;
}

.remindPage .add-btn {
  font-size: 16px;
}

.remindPage .nav-header {
  line-height: 50px;
  height: 50px;
  background: #fff;
  width: 100%;
  position: relative;
  font-size: 16px;
}

.remindPage .nav-header span {
  display: inline-block;
  cursor: pointer;
}

.remindPage .nav-header .tasking {
  font-size: 16px;
  width: 150px;
  text-align: center;
  background-color: #CEDEEB;
}

.remindPage .nav-header .task-num {
  font-size: 14px;
}

.remindPage .nav-header .taskDone {
  width: 100px;
  text-align: center;
}

.remindPage .task-list {
  background-color: #fff;
  margin-top: 20px;
}

.remindPage .task-list li {
  position: relative;
  padding: 10px 0px 10px 30px;
}

.remindPage .task-list li .task-data {
  line-height: 24px;
  color: #666;
  padding-top: 16px;
  font-size: 14px;
  border-bottom: 1px dashed #e1e1e1;
}

.remindPage .task-list li .task-data:last-child {
  border-bottom: 1px solid #CEDEEB;
}

.remindPage .task-list li .nav-time {
  font-size: 16px;
}

.remindPage .task-list .set-time {
  color: #999;
}

.remindPage .task-list .set-time .item-date {
  margin-right: 10px;
}

.remindPage .task-list .task-content {
  position: relative;
  width: 85%;
  margin-left: 10px;
}

.remindPage .task-list .task-content .text {
  padding-bottom: 10px;
}

.remindPage .task-list .task-content .task-item {
  position: relative;
}

.remindPage .task-list .task-content .task-item:hover {
  background-color: #E8F7EC;
}

.remindPage .task-list .task-content .task-item:hover .cont-btn {
  display: block;
}

.remindPage .task-list .task-cont {
  padding-bottom: 20px;
}

.remindPage .task-list .task-cont span {
  margin: 0 10px;
}

.remindPage .task-list .cont-btn {
  position: absolute;
  bottom: 4px;
  display: none;
  right: 0px;
  line-height: 22px;
}

.remindPage .task-list .cont-btn a {
  color: #1AA0E3;
  display: inline-block;
  padding: 0 10px;
}

.remindPage .task-list .cont-btn a:hover {
  color: #0E5AEA;
}
